@import 'variables';

.logowellness {
    height: $altura_barra_superior;
}

.fondoquote {
    background-color: $gris_muy_claro;

}

.bordeblockquote {
    border : $borde_blockquote;
}

thead.leyendaTabla>tr>td {
    font-weight: bold;
}
