<div>
    <div id="row">
        <h4 class="col-md-11 col-sm-11 col-xs-10 col-lg-11">Datos del cliente</h4>
        <button class="col-md-1 col-sm-1 col-xs-2 col-lg-1 btn btn-default" ng-click="atras()">Atrás</button>
        <br/>
    </div>
    <hr/>
    <blockquote class="bordeblockquote">
        <div class="row fondoquote">
            <span class="col-sm-2 col-md-2 col-xs-4 col-lg-2">Nombre: </span>
            <span class="col-sm-10 col-md-10 col-xs-8 col-lg-10">{{ usuario.first_name }}</span>
            <span class="col-sm-2 col-md-2 col-xs-4 col-lg-2">Apellidos: </span>
            <span class="col-sm-10 col-md-10 col-xs-8 col-lg-10">{{ usuario.last_name }}</span>
            <span class="col-sm-2 col-md-2 col-xs-4 col-lg-2">Email: </span>
            <span class="col-sm-10 col-md-10 col-xs-8 col-lg-10">{{ usuario.email }}</span>
        </div>
    </blockquote>

</div>