<div>
    <h3>Datos del cliente</h3>

    <blockquote class="bordeblockquote">
        <div class="row fondoquote">
            <span class="col-sm-3">Nombre: </span>
            <span class="col-sm-9">{{ usuario.first_name }}</span>
            <span class="col-sm-3">Apellidos: </span>
            <span class="col-sm-9">{{ usuario.last_name }}</span>
            <span class="col-sm-3">Email: </span>
            <span class="col-sm-9">{{ usuario.email }}</span>
        </div>
    </blockquote>

</div>