<tabla-usuarios-facturacion ng-show="verGrid()"></tabla-usuarios-facturacion>
<datos-usuario ng-show="verDatos()"></datos-usuario>


<div class="row" ng-show="usuarioSeleccionado">
    <div class="col-md-4">
        <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
            <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
    </div>

    <div class="col-md-4">
        <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup ng-model="dtFin" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
            <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
    </div>
    <div class="col-md-4">
        <div class="row">
            <button class="btn btn-primary col-md-5 col-md-offset-1" ng-click="filtrarDatos()">Calcular</button>
            <button class="btn btn-danger col-md-5 col-md-offset-1" ng-click="cancelarFechas()">Limpiar</button>
        </div>
    </div>
</div>

<consumo-diario ng-show="verDatos()"></consumo-diario>
