<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Creación de Precio</h3>
</div>
<div class="modal-body" id="modal-body">
    <form class="form-horizontal">
        <div class="form-group has-feedback" ng-class="{ 'has-error': fechaVacio }">
            <label for="fecha" class="col-sm-2 control-label">Fecha:</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="fecha" placeholder="Fecha" name="fecha" ng-model="precio.fecha">
                <div ng-show="errores.fecha"  class="alert alert-danger" role="alert">{{ errores.fecha }}</div>
            </div>
        </div>
        <div class="form-group has-feedback" ng-class="{ 'has-error': lastnameVacio }">
            <label for="precio" class="col-sm-2 control-label">Precio:</label>
            <div class="col-sm-10">
                <input type="decimal" class="form-control" id="precio" placeholder="Precio" name="precio" ng-model="precio.precio">
                <div ng-show="errores.last_name"  class="alert alert-danger" role="alert">{{ errores.last_name }}</div>
            </div>
        </div>
        <div ng-show="exito" class="alert alert-success" role="alert">Precio guardado con éxito</div>
        <div ng-show="prohibido" class="alert alert-danger" role="alert">Prohibido</div>
        <button class="btn btn-primary col-sm-offset-10" ng-click="crearPrecio()">Crear</button>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="ok()">OK</button>
</div>