<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Edición</h3>
</div>
<div class="modal-body" id="modal-body">
    <form class="form-horizontal">
        <div class="form-group has-feedback" ng-class="{ 'has-error': firstnameVacio }">
            <label for="firstname" class="col-sm-2 control-label">Nombre:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="firstname" placeholder="Nombre" name="firstname" ng-model="usuario.first_name">
                <div ng-show="errores.first_name"  class="alert alert-danger" role="alert">{{ errores.first_name }}</div>
            </div>
        </div>
        <div class="form-group has-feedback" ng-class="{ 'has-error': lastnameVacio }">
            <label for="lastname" class="col-sm-2 control-label">Apellido:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="lastname" placeholder="Apellido" name="lastname" ng-model="usuario.last_name">
                <div ng-show="errores.last_name"  class="alert alert-danger" role="alert">{{ errores.last_name }}</div>
            </div>

        </div>
        <div class="form-group has-feedback" ng-class="{ 'has-error': usernameVacio }">
            <label for="username" class="col-sm-2 control-label">Nombre de usuario:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="username" placeholder="Nombre de usuario" name="username" ng-model="usuario.username">
                <div ng-show="errores.username" class="alert alert-danger" role="alert">{{ errores.username }}</div>
            </div>
        </div>
        <div class="form-group has-feedback" ng-class="{ 'has-error': emailIncorrecto }">
            <label for="email" class="col-sm-2 control-label">Email:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="email" placeholder="Correo electrónico" name="email" ng-model="usuario.email">
                <div ng-show="errores.email" class="alert alert-danger" role="alert">{{ errores.email }}</div>
            </div>
        </div>
        <div ng-show="getAccion()" class="form-group has-feedback" ng-class="{ 'has-error': passwordIncorrecta }">
            <label for="password" class="col-sm-2 control-label">Password:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password" placeholder="Contraseña" name="password" ng-model="usuario.password">
                <div ng-show="errores.password" class="alert alert-danger" role="alert">{{ errores.password }}</div>
            </div>
        </div>
        <div ng-show="permisos" class="alert alert-danger" role="alert">No tienes permisos para hacer esto.</div>
        <div ng-show="exito" class="alert alert-success" role="alert">Usuario guardado con éxito</div>
        <button class="btn btn-primary col-sm-offset-10" ng-click="editarUsuario()">{{ accion }}</button>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="ok()">OK</button>
</div>